p,h1,h2,h3 {text-align:center; color:red;}

派生选择器
li strong {
    font-style: italic;
    font-weight: normal;
  }

id 选择器以 "#" 来定义。
#iid {color:red;}

id 选择器和派生选择器
#sidebar p {
	font-style: italic;
	}
  div #sidebar {
  	border: 1px dotted #000;
  	}

类选择器以一个点号显示：
.center {text-align: center}

class 也可被用作派生选择器：
.fancy td {
	color: #f60;
	background: #666;
	}
td.fancy {
	color: #f60;
	background: #666;
	}

属性选择器
[title]{color:red;}
[title=W3School]{border:5px solid blue;}
input[type="text"]{  width:150px;}

CSS 背景
p {background-color: gray;}
body {background-image: url(/i/eg_bg_04.gif);}
text-align	对齐元素中的文本。
text-decoration	向文本添加修饰。

font-family	设置字体系列。
font-size	设置字体的尺寸。

a:link {color:#FF0000;}		/* 未被访问的链接 */
a:visited {color:#00FF00;}	/* 已被访问的链接 */
a:hover {color:#FF00FF;}	/* 鼠标指针移动到链接上 */
a:active {color:#0000FF;}	/* 正在被点击的链接 */

table, th, td
  {
  border: 1px solid blue;
  }


360兼容模式
<meta name="renderer" content="webkit">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta content=always name=referrer>


css position 属性 共有四种： absolute，relative，fixed，static。
其中absolute和fiexd属性不能和float一起作用于一个元素。
static很少用，因为正常的页面呈现顺序就是这种，没必要指定了。
fixed 定位就是页面的元素固定不会随scroll移动而移动。
relative设置为相对定位的元素框会偏移某个距离。元素仍然保持其未定位前的形状，它原本所占的空间仍保留。
absolute设置为绝对定位的元素框从文档流完全删除，并相对于其包含块定位，包含块可能是文档中的另一个元素或者是初始包含块。元素原先在正常文档流中所占的空间会关闭，就好像该元素原来不存在一样。

浮动
 float: left;


元素选择器
h2 {color:silver;}
通配符选择器
* {color:red;}
结合元素选择器
*.class {color:red;}
多类选择器
.impor.war {background:silver;}
属性选择器
p[class="important warning"] {color: red;}
planet[moons="1"] {color: red;}
a[href="http://www.w3school.com.cn/"][title="W3School"] {color: red;}
a[href][title] {color:red;}
后代选择器
h1 em {color:red;}
子元素选择器
h1 > strong {color:red;}
相邻兄弟选择器使用了加号（+）
h1 + p {margin-top:50px;}

透明度
img
{
opacity:0.4;
filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}


伪类
属性	描述	CSS
:active	向被激活的元素添加样式。	1
:focus	向拥有键盘输入焦点的元素添加样式。	2
:hover	当鼠标悬浮在元素上方时，向元素添加样式。	1
:link	向未被访问的链接添加样式。	1
:visited	向已被访问的链接添加样式。	1
:first-child	向元素的第一个子元素添加样式。	2
:lang	向带有指定 lang 属性的元素添加样式。	2
